.drinks img{
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 10px;
    
}

.drinks p{
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-weight: bold;
}
.drinks h3{
    margin-bottom: 5px;
    color: #fff;
    font-weight: bold;

}

.drinks{
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: auto;
    border-radius: 10%;
    background: radial-gradient(circle, rgba(89,80,51,1) 0%, rgba(0,0,0,0.6460959383753502) 100%);
    padding: 20px;
    box-shadow: 2px 0px 15px 3px #704c1afc;
    margin-left: 10px;
    margin-right: 10px;
}

.drinks:hover{
    background: radial-gradient(circle, rgb(94, 84, 49) 0%, rgba(41, 37, 37, 0.646) 100%);
    cursor: pointer;
}