.cocktail-container{
    max-width: 100% !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top:130px
}

.myDrinks input{
    font-size: 20px;
}

@media screen and (max-width: 576px) {
    .myDrinks form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}