.container-singleCocktail {
  min-height: 1200px;
}
.container-singleCocktail ul {
  list-style: none;
}

.img-cocktail {
  max-width: 400px;
  height: auto;
}

.container-img-cocktail {
  justify-content: flex-end;
}

.container-info-cocktail {
  justify-content: center;
  align-items: start;
}

.spazio {
  height: 130px;
}

@media screen and (max-width: 767px) {
  .img-cocktail {
    min-width: 200px;
  }
}

@media screen and (max-width: 576px) {
  .container-img-cocktail {
    justify-content: center;
  }

  .container-info-cocktail {
    align-items: center;
    padding: 25px;
    padding-top: 60px;
  }

  .container-info-cocktail ul {
    padding: 0px;
    text-align: center;
  }

  .spazio {
    height: 50px;
  }
}
