.navbar{
    background-color: rgb(245 218 185 / 84%) !important;
}

.nav{
    font-size:20px;
    font-weight:500;    
}

.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .show>.nav-link,
.nav a:hover{
    color: rgb(99, 62, 6) !important;
}

@media screen and (max-width: 576px){
    .nav{
        display: flex;
        width: 100%;
        justify-content: center;
    }
}