.home-container{
    width:100%;
    min-height:1200px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.home-container h1{
    color: #fff;
    font-size: 5vw;
    z-index: 1;
    font-weight: 900;
    letter-spacing: 8px;
    
}