.background{
 
    width:100%;
    min-height:960px;
    background-image: url("./assets/cocktail.jpeg");
    background-position: center; 
    background-repeat:repeat; 
    background-attachment: fixed;
    opacity: 0.8;

}

.linear-gradient{
  width:100%;
  min-height: 1200px;
  background: radial-gradient(circle, rgb(64 47 29 / 63%) 0%, rgb(0 0 0 / 36%) 89%);
}

p,h1,label,span,input,a,h3,h2,h4,ul{
  font-family: 'Balsamiq Sans', cursive;
}